<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous"> <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <title>BisLink - Home</title>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BisLink</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
 
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#" onclick="openSearch()"><i class="fas fa-search"></i> Search</a></li>
      <li class="nav-item ">
        <a class="nav-link" href="#"><i class="fas fa-bell"></i></i> Notifications</a></li>
        <li class="nav-item" id='login' data-toggle="modal" data-target="#sideModalLogin">
                <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i> Login</a>
              </li>
    </ul>
  </div>
</nav>
<div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">x</span>
        <div class="overlay-content">
          <form>
            <div class="row">
              <div class="col-md-5 mb-3">
    
                <input type="text" class="form-control search-bar" id="businessName" placeholder="Business name" value=""
                  required>
              </div>
              <div class="col-md-5 mb-4">
    
                <input type="text" class="form-control search-bar" id="slogan" placeholder="Location" value="" required>
              </div>
              <button type="submit" class="col-md-2 btn btn-outline-light mt-3"><i class="fa fa-search"></i></button>
            </div>
    
          </form>
        </div>
      </div>
<body id="page">
        <div class="container-fluid biz-img-container">
                <div class="row">
                  <div class="swiper-container">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                    <img class="card-img-top" src="images/images/featured1.jpg" alt="Card image cap">
                  </div>
                  <div class="swiper-slide">
                    <img class="card-img-top" src="images/images/featured2.jpg" alt="Card image cap">
                  </div>
                
                  <div class="swiper-slide">
                      <img class="card-img-top" src="images/images/featured3.jpg" alt="Card image cap">
                    </div>
           
                    <div class="swiper-slide">
                        <img class="card-img-top" src="images/images/featured4.jpg" alt="Card image cap">
                      </div>
                    </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-white"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
              </div></div> <div class="container-fluid biz-name-container">
              <div class="container ">
                <div class="row ">
                  <div class="col-md-6">
                    <div class="left-info">
                <h3>Tasty Hand-Pulled Noodles </h3>
                <p>Innovative cooking, paired with fine wines in a modern setting.</p>
              </div></div>
              <div class=" col-md-5">
                <div class="right-info">
                    <button type="button" class="btn btn-md btn-outline-secondary">WRITE A REVIEW</button></div>
                </div>
            </div></div>
            </div></div>









            <main role="main" class="container">
                    <div class="row">
                      <div class="col-md-8 blog-main">
                        <div class="card mt-3 p-4 biz-desciption">
              <p>Tasty Hand-Pulled Noodles is a 1950s style diner located in Madison, Wisconsin. Opened in 1946 by Mickey Weidman, and located just across the street from Camp Randall Stadium, it has become a popular game day tradition amongst many Badger fans. The diner is well known for its breakfast selections, especially the Scrambler, which is a large mound of potatoes, eggs, cheese, gravy, and a patrons’ choice of other toppings</p>
              <p>Mickies has also been featured on “Todd’s Taste of the Town” during one of ESPN’s college football broadcasts. We are one of the best Chinese restaurants in the New York, New York area. We have been recognized for our outstanding Chinese & Asian cuisine, excellent Chinese menu, and great restaurant specials. We are one of the best Chinese restaurants in the New York, New York area. We have been recognized for our outstanding Chinese & Asian cuisine, excellent Chinese menu, and great restaurant specials.</p>
            </div>      
                        <div class="card review-card  p-3 my-3">
                            <div class="card-header">
                                <h2> 22 Reviews</h2>
                            </div>
<div class="row mt-5 user-review">
<div class="commenter-avatar col-md-3">
        <img class="pt-0" src="images/images/customer-img1.jpg" alt="Card image cap"> <br>
        <p class="">Adeola</p>
</div> 
<div class="commenter-review col-md-9">
    <h4 class="text-left pt-0">Best noodles in the Newyork city</h4>
    <p class="text-left">I love the noodles here but it is so rare that I get to come here. Tasty Hand-Pulled Noodles is the best type of whole in the wall restaurant. The staff are really nice, and you should be seated quickly. I usually get the hand pulled noodles in a soup. House Special #1 is amazing and the lamb noodles are also great. If you want your noodles a little chewier, get the knife cut noodles, which are also amazing. Their dumplings are great dipped in their chili sauce.</p>
</div>
</div>
<div class="row mt-5 user-review">
        <div class="commenter-avatar col-md-3">
                <img class="pt-0" src="images/images/customer-img2.jpg" alt="Card image cap"> <br>
                <p class="">Adeboye</p>
        </div> 
        <div class="commenter-review col-md-9">
            <h4 class="text-left pt-0">A hole-in-the-wall old school shop</h4>
            <p class="text-left">The dumplings were so greasy...the pan-fried shrimp noodles were the same. So much oil and grease it was difficult to eat. The shrimp noodles only come with 3 shrimp (luckily the dish itself is cheap) The beef noodle soup was okay. I added black vinegar into the broth to give it some extra flavor. The soup has bok choy which I liked - it's a nice textural element. The shop itself is really unclean (which is the case in many restaurants in Chinatown) They don't wipe down the tables after customers have eaten. If you peak into the kitchen many of their supplies are on the ground which is unsettling...</p>
        </div>
        </div>
                        </div>
                        <div class="card review-card p-5 mt-3 mb-2">
                                <h4 class="card-header info-color white-text text-center px-3 mb-5">
                                            <strong>Write a Review</strong>
                                          </h4>
                                          <form>
                                    <div class="mb-3">
                                <label class="left" for="firstName">Title</label>
                                <input type="text" class="form-control" id="businessName" placeholder="Give your review a title" value="" required></div>
                                <div class="form-group">
                                    <label class="left" for="exampleTextarea">Reviews</label>
                                    <textarea class="form-control" id="exampleTextarea" placeholder="Your opinion goes here..." rows="4"></textarea>
                                  </div>
                                  <button class=" mb-5 btn btn-outline-light  bg-dark btn-rounded btn-block my-4 " type="submit">Submit Review</button>
                                        </form>
                                    </div>    

                      </div>
              
                      <aside class="col-md-4 blog-sidebar">
                            <div class="card mt-3 shadow-sm">
                                    <img class="card-img-top" src="images/map.jpg" alt="Card image cap">
                                    <div class="card-body card-contents">
                    
                                        <ul>
                                          <li><span><i class="fas fa-map-marker-alt"></i><span class="space-text"></span> <p>1301 Avenue, Brooklyn, NY 11230</p></span>
                                          </li>
                                          <li><i class="fas fa-mobile-alt"> </i> <span class="space-text"></span>
                                              <p> +44 20 7336 8898</p>
                                          </li>
                                          <li><i class="fas fa-link"></i><span class="space-text"></span>
                                              <p>https://burgerandlobster.com</p>
                                          </li>
                                      </ul>
                    
                                    </div>
                                  </div>
                                  <div class="card mt-3">
                                        <div class="profile-section-biz-details">
                                               <img src="images/images/follow-img.jpg" class="mx-auto d-block">
                                               <div class=" profile-text">
                                           <h5 class="py-1">Mercy Johnson</h5>
                                           <p>Lagos</p>
                           
                                       </div>
                                       <table class="table table-bordered mt-3">
                                       
                                             <tr>
                                               <th scope="col"><h4>23</h4><p>Business</p></th>
                                               <th scope="col"><h4>45</h4><p>Followers</p></th>
                                               <th scope="col"><h4>34</h4><p>Following</p></th>
                                             </tr>
                                         </table>
                           <p class="text-center">Hi ! My name is Mercy Johnson. I'm a UI/UX Designer from Lagos, in Nigeria. I really enjoy photography and mountains.</p>
                           <button class=" mb-5 btn btn-outline-light  bg-dark btn-rounded btn-block my-4 " data-toggle="modal"href="#editProfile" data-target="#editProfile" type="button">Follow</button>
                                       </div>
                                     </div>
                      </aside><!-- /.blog-sidebar -->
              
                    </div><!-- /.row -->
              
                  </main><!-- /.container -->

                  <nav class="navbar footer bottom navbar-expand-sm navbar-dark bg-dark">
                        <p class=" light ">Copyright © 2018 BisLink. All rights reserved | Designed with <i class="fas fa-heart fa-lg"></i> by <a href="https://github.com/tope-olajide/BisLink">Temitope</a> </p>
                                      </nav>
            <script src="js/swiper.min.js"></script>
            <script>
                  var swiper = new Swiper('.swiper-container', {
                      slidesPerView:3,
                      slidesPerGroup: 1,
                      loop: false,
                      loopFillGroupWithBlank: true,
                      pagination: {
                          el: '.swiper-pagination',
                          clickable: true,
                      },
                      navigation: {
                          nextEl: '.swiper-button-next',
                          prevEl: '.swiper-button-prev',
                      },
                  });
              </script>
<script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
<script type="text/javascript" src="js/jquery-slim.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap-material-design.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>