<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.min.css" />
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous"> 
    <title>Welcome to BisLink!</title>

</head>
<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <a class="navbar-brand" href="#">Bis-Link</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="#"><i class="fas fa-bell"></i></i> Notifications</a></li>
            <li class="nav-item " id='signUp' onclick="showSignUpForm()">
                <a class="nav-link" href="#"><i class="fas fa-user-alt"> </i> Sign Up <span class="sr-only"></span></a>
            </li>
            <li class="nav-item" id='login' onclick="showLoginForm()">
                <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i> Sign Up</a>
            </li>
        </ul>
    </div>
</nav>
<body class='body'>
        <div class="header"></div>
 
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <div class="modal-body">
            <div class="px-2">
                <h4 class="card-header info-color white-text text-center px-4 mb-5">
                    <strong>Edit Profile</strong>
                  </h4>
                  <form>

                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="" placeholder="" value="" required>
                      
                                <label for="lastName">Last Name </label>
                                <input type="text" class="form-control" id="" placeholder="" value="" required>
                
                        <label for="">Email Address </label>
                        <input type="mail" class="form-control" id="" placeholder="" value="" required>
                      
                        <label for="firstName">Username</label>
                        <input type="text" class="form-control" id="" placeholder="" value="" required>
                      
                            <label for="firstName">Phone Number </label>
                            <input type="number" class="form-control" id="" placeholder="" value="" required>
                         
                    <label for="firstName">Location</label>
                    <input type="text" class="form-control" id="" placeholder="" value="" required>
                    <div class="form-group">
                      <label for="exampleInputFile" class="bmd-label-floating">Profile picture</label>
                      <input type="file" class="form-control-file" id="exampleInputFile">
                      <small class="text-muted">Upload your profile Picture</small>
                    </div>
              
                <div class="form-group">
            <label for="exampleTextarea">About Me</label>
            <textarea class="form-control" id="exampleTextarea" placeholder="Little info about me" rows="3"></textarea>
          </div>
        </div>

          <button class=" mb-5 btn btn-outline-light  bg-dark btn-rounded btn-block my-4 " type="submit"> Update Profile</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-sm">Save changes</button>
        </div>
      </div>
    </div>
  </div>
 
  <div class="modal fade" id="editBusiness" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <div class="modal-body">
            <div class=" p-2">
                <h4 class="card-header info-color white-text text-center px-4 mb-5">
                    <strong>Modify Business</strong>
                  </h4>
                  <form>
                    <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Name</label>
                                <input type="text" class="form-control" id="" placeholder="Business name" value="" required>
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="lastName">Tag Line <span class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" id="slogan" placeholder="Business slogan" value="" required>
                              </div>
                    </div>
                    <div class="">
                        <label for="firstName">Address </label>
                        <input type="text" class="form-control" id="" placeholder="" value="" required>
                      </div>
                      <div class="">
                        <label for="firstName">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="" placeholder="" value="" required>
                      </div>
                      <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Phone Number </label>
                            <input type="text" class="form-control" id="" placeholder="" value="" required>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="lastName">Phone Number 2 <span class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="slogan" placeholder="" value="" required>
                          </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Website <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="" placeholder="" value="" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="lastName">Email Address <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="slogan" placeholder="" value="" required>
                      </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Category</label>
                    <input type="text" class="form-control" id="" placeholder="" value="" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile" class="bmd-label-floating">Business pictures</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                    <small class="text-muted">Upload your business Pictures</small>
                  </div>
        
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Business Description</label>
            <textarea class="form-control" id="exampleTextarea" placeholder="Full details of your Business here..." rows="3"></textarea>
          </div>
          <button class=" mb-5 btn btn-outline-light  bg-dark btn-rounded btn-block my-4 " type="submit"> Update Business</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-sm">Save changes</button>
        </div>
      </div>
    </div>
  </div>
 
        <div class="dashboard-containers ">
        <div class="row">
            <div class="profile-section col-md-4">
   
                    <img src="images/images/follow-img.jpg" class="mx-auto d-block">
                    <div class=" profile-text">
                <h5>Amanda Dumplings</h5>
                <p>Lagos</p>

            </div>
            <table class="table table-bordered">
            
                  <tr>
                    <th scope="col"><h4>23</h4><p>Business</p></th>
                    <th scope="col"><h4>45</h4><p>Followers</p></th>
                    <th scope="col"><h4>34</h4><p>Following</p></th>
                  </tr>
                
 

              </table>
<p class="user-info">Hi ! My name is Jane Doe. I'm a UI/UX Designer from Paris, in France. I really enjoy photography and mountains.</p>
<button class=" mb-5 btn btn-outline-light  bg-dark btn-rounded btn-block my-4 " data-toggle="modal"href="#editProfile" data-target="#editProfile" type="button">Edit profile</button>
            </div>
            <div class="dashboard-section col-md-8">
                    <ul class="nav nav-tabs nav-fill">
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Businesses</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Favourites</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Notifications</a>
                            </li>
                          </ul> <br/>
                    <div class="row card-container">
                            <div class="col-md-6">
                              <div class="card mb-5 ml-3 shadow-sm">
                                <img class="card-img-top" src="images/images/featured1.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h6 class="card-text">Burger & Lobster</h6>
                                    <div class = 'cat-rewiew'>
                                    <p class="category ">Restaurant</p> <p class="dot-seperator">•</p> <p class="review">2 Reviews</p> 
                                    </div>
                                    <ul>
                                      <li><span><i class="fas fa-map-marker-alt"></i><span class="space-text"></span> <p>1301 Avenue, Brooklyn, NY 11230</p></span>
                                      </li>
                                      <li><i class="fas fa-mobile-alt"> </i> <span class="space-text"></span>
                                          <p> +44 20 7336 8898</p>
                                      </li>
                                      <li><i class="fas fa-link"></i><span class="space-text"></span>
                                          <p>https://burgerandlobster.com</p>
                                      </li>
                                  </ul>
                                  <div class="card-bottom">
                                      <div class="edit-icon"><a data-toggle="modal"href="#editBusiness" data-target="#editBusiness" href="#"> <i class="fas fa-edit fa-lg"></i></a> </div>  <div class="trash-icon"><i class="fas fa-trash-alt  fa-lg"></i></div> <div class="fav-icon"> <i class="fas fa-heart fa-lg"></i></div>
                                    <p>View Business</p>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-5 ml-3 shadow-sm">
                                  <img class="card-img-top" src="images/images/featured1.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h6 class="card-text">Burger & Lobster</h6>
                                      <div class = 'cat-rewiew'>
                                      <p class="category ">Restaurant</p> <p class="dot-seperator">•</p> <p class="review">2 Reviews</p> 
                                      </div>
                                      <ul>
                                        <li><span><i class="fas fa-map-marker-alt"></i><span class="space-text"></span> <p>1301 Avenue, Brooklyn, NY 11230</p></span>
                                        </li>
                                        <li><i class="fas fa-mobile-alt"> </i> <span class="space-text"></span>
                                            <p> +44 20 7336 8898</p>
                                        </li>
                                        <li><i class="fas fa-link"></i><span class="space-text"></span>
                                            <p>https://burgerandlobster.com</p>
                                        </li>
                                    </ul>
                                    <div class="card-bottom">
                                     <div class="edit-icon"><a data-toggle="modal"href="#editBusiness" data-target="#editBusiness" href="#"> <i class="fas fa-edit fa-lg"></i></a> </div>  <div class="trash-icon"><i class="fas fa-trash-alt  fa-lg"></i></div> <div class="fav-icon"> <i class="fas fa-heart fa-lg"></i></div>
                                      <p>View Business</p>
                                  </div>
                                  </div>
                                </div>
                              </div>

                        </div>
            </div></div>
        </div>

        <nav class="navbar footer bottom navbar-expand-sm navbar-dark bg-dark">
<p class=" light ">Copyright © 2018 Bis-Link. All rights reserved </p>
              </nav>
              <script type="text/javascript" src="js/jquery-slim.min.js"></script>
              <script type="text/javascript" src="js/popper.min.js"></script>
              <script type="text/javascript" src="js/bootstrap-material-design.min.js"></script>
</body>

</html>