

.card{
	
	z-index: 999;margin:10px

}

.modal-dialog {
	margin-top: 60px;
	margin-right: 6px;
	width: 27%;
	z-index: 9999999999;
	overflow: auto;
	overflow-y: auto;
  }
  @media screen and (max-width: 1140px) { 
	.modal-dialog {
	width: 63%;
  }
}
@media screen and (max-width: 600px) { 
	.modal-dialog {
		width: 100%;
	  }
}
.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 99999999999;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.7); /* Black with a little bit see-through */
  }
  .overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
  }
  
  .overlay .closebtn:hover {
	color: #ccc;
  }
  
  .overlay button:hover {
	color: #ccc;
  }
  .search-bar{
	border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  .overlay button:hover {
	background: #bbb;
  }
 
  .biz-img-container{
	margin-top: 0px;
	background-color: #ffffff;
  }
 

  .biz-name-container{
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 4px 6px -6px #222;
  }
  .left-info{
	float: left;
  }
  .biz-desciption{
	  text-align: left;
	  font-size: 15px
  }
  .left{
	  float: left;
	  
  }
  .commenter-avatar img{
	  width:80px; 
	  margin:0px auto auto;
	  border: 1px solid #ffffff;
	  border-radius: 50%
  }
  .commenter-avatar {
	
	text-align: center
	
}
  .space-text{
	margin-right: 10px
  }

  .card-body{
    background-color: rgb(255, 255, 255);
  }
  .card-text{
	margin-bottom: 3px;
	font-weight: 450;
	font-size: 1.3em
  }
  .card-body ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
  }
  .card-body ul li {
	margin-top: 9px
  }
 
   .card i{
	color: rgb(150, 140, 140);
   }
  .card-bottom{
	margin-top: 8px
  }
  .card-contents p {
	display: inline;
	font-size: 15px;
	font-weight: 400;
	color: rgb(150, 140, 140);
	
  }
  .card-bottom .fav-icon{
	float: right; margin: 0 20px; color: black
  }
  .card-bottom .trash-icon{
	float: right;
	
  }
  .card-bottom .edit-icon{
	float: right;margin: 0 20px
	
  }.fas:hover {
	color: rgb(138, 86, 86);
	cursor: pointer;
  }
  
  .card-bottom p {
	color: red;
	text-transform: uppercase;
	font-size: 13px
  }
  .content-container{
	  margin-top: 60px
  }
  .profile-section-biz-details img{
	border-radius: 50%;
	border: 6px solid white;
	width: 160px;
  
  }
  .profile-section-biz-details{
	width: 90%;
	margin-left: auto;
	margin-right: auto
  }
  
.header{
	height: 50vh;
	background-image:
   url('../images/hero.jpg');
  background-size: cover;
	background-position: top;
	position: relative;
	background-clip: padding-box; 
  background-color: #F4F9FF;
  z-index: -1;
}
.profile-section img{
  border-radius: 50%;
  border: 6px solid white;
  width: 200px;
  margin-top: -100px;
}
.profile-text{
  text-align: center;
  line-height:0px;
}
.table{
  text-align: center;

}
.dashboard-containers{
  width: 90%;
  margin: auto auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}
.user-info{
  width: 85%;
  margin: auto auto;
  text-align: center

}
  .footer p{
	text-align: center;
	color: #ffffff;
	margin: 70px auto 70px auto
  }
  .footer{
	margin-top: 50px
  }
  .edit-profile-btn{
	margin-left: auto;
	margin-right: auto;
	}
	.centra{
	  text-align: center;
	  margin: auto auto
	}
	.register-business-header{
	  margin-top: 10px;
		height: 50vh;
		background-image:
	  url('../images/00.jpg');
	  background-size: cover;
		background-position: top;
		position: relative;
		background-clip: padding-box; 
	  background-color: #F4F9FF;
	  z-index: -1;
	}
	
	.profile-section-biz-details img{
	  border-radius: 50%;
	  border: 6px solid white;
	  width: 200px;
	
	}
	.profile-section-biz-details{
	  width: 90%;
	  margin-left: auto;
	  margin-right: auto
	}
	.card-container{
		width: 100%;
	   margin-left: auto;
	   margin-right: auto
	  }
	  .category{
		margin-right: 5px;
	  }
	  .dot-seperator{
		vertical-align: baseline;
		font-weight: bolder
	  }
	  .review{
		margin-left: 5px;
	  }
	  .cat-review{
	  margin-top:0px
	  }
	  .review-card{
		margin-left:0px;
	  }
	  .biz-form-container{
		width: 50%;
		margin-left:auto;
		margin-right: auto;
	  }
	  #exampleTextarea{
		width: 100%
	  }
	  .biz-descriptions{
		background-color: #ffffff;
		padding-bottom: 0px
	  }
	  .biz-descriptions p {
		font-size: 16px;
		font-weight: 400;
		color: rgb(150, 140, 140);
		margin-top: 30px;
		margin-left: 20px;
	  }
	  .right-info{
		float:left;
	  }
	  .right-info p{
		display: inline;
		font-weight: 600;
		font-size: 30px
	  }
	  .right-info button{
	   margin-left: 30px
	  }
	  .card p {
		display: inline;
		font-size: 15px;
		font-weight: 400;
		color: rgb(150, 140, 140)
	  }
