.card-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    margin-bottom: 3px;
    font-weight: 450;
    font-size: 40px
}

.card-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-body ul li {
    margin-top: 9px
}

.card i {
    color: rgb(150, 140, 140);
}

.card-bottom {
    margin-top: 8px
}

.card-contents p {
    display: inline;
    font-size: 15px;
    font-weight: 400;
    color: rgb(150, 140, 140);

}

.card-bottom .fav-icon {
    float: right;
    margin: 0 20px;
    color: black
}

.card-bottom .trash-icon {
    float: right;

}

.card-bottom .edit-icon {
    float: right;
    margin: 0 20px
}

.card p {
    display: inline;
    font-size: 15px;
    font-weight: 400;
    color: rgb(150, 140, 140)
}

.card-bottom p {
    color: rgb(247, 4, 4);
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
}
.space-text{
	margin-right: 10px
  }
.card-bottom .fav-icon{
	float: right; margin: 0 20px; color: black
  }
/*   body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FAFAFA
  } */
  