.biz-header {
	height: 100vh;
	background-image:

		url('../images/Lagos-skyline.jpg');
	background-size: cover;
	background-position: top;
	position: relative;
	background-clip: padding-box;
    background-color: #F4F9FF;
    margin-top:-40px;
}
.hero-title{
    text-align: center;
    color: white;
    font-size: 5em;
    width: 100%;

}
.hero-paragraph{
    text-align: center;
    color: white;
    font-size: 26px;
    margin-top:30px;
    margin-bottom: 30px;
    width: 100%
}
.browse-by, .browse-by a{
    text-align: center;
    color: aqua;
    font-size: 22px;
    margin-top:30px;

}
a {
    text-shadow: rgb(14, 13, 12);
    text-decoration: none;
    text-decoration: underline
}
.hero-search-container{
width:50%;
margin-left: auto;
margin-right: auto
}
.hero-caption {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%
}
.featured-text{
    
    font-size: 2.9em
}
.biz-name{
	margin-bottom: 3px;
	font-weight: 400;
    font-size: 1.1em;
    color:rgb(150, 140, 140);
    text-transform: capitalize
  }
.category, .biz-address {
    text-transform: capitalize
}