.business-form-header{
    height: 50vh;
    background-image:
  url('../images/00.jpg');
  background-size: cover;
    background-position: top;
    position: relative;
  z-index: -1;
  margin-top: -10px
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(108, 126, 129, 0.5);
}
.hero-text h1{
    text-shadow: 3px 3px rgb(37, 24, 26);font-size: 2.6em
}